*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navBar {
    height: 50px;
    width: auto;
    background: #352f44;
    font-family: sans-serif;
    position: relative;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: right;
    margin: 50% 40px auto 50%;
    padding: auto 5px auto 7px;
}

li, .li a, .liP {
    text-decoration: none;
    list-style-type: none;
    color: beige;
}

.liP {
    font-size: 20px;
    font-weight: 200px;
    font-family: 'Courier New', Courier, monospace;
    padding: auto;
    position: absolute;
    top: 10px;
}

.li {
    justify-content: flex-end;
    float: right;
}


