*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navBar {
    height: 45px;
    width: auto;
    background: indigo;
    font-family: sans-serif;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
