*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navBar {
    height: 50px;
    width: auto;
    background: indigo;
    font-family: sans-serif;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

li, .li a, .liP {
    text-decoration: none;
    list-style-type: none;
    color: black; 
    padding: 10px;
}

.li {
    justify-content: flex-end;
    float: right;
}



